@model IEnumerable<ProjektowanieBazDanychT1.Models.Test>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WhenParticipated)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhenParticipated)
            </td>
            <td>
                @Html.ActionLink("Wypelnij", "Wypelnij", new {  id=item.Id  }) 
                @Html.ActionLink("Podglad", "Podglad", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
